
.container-fluid.video {
  width: 90%;
  background-color: white;
  align-content: center;
  text-align: center;
  align-items: center;
}

.card {
  display: inline-block;
  margin: 5px;
  align-items: center;
  height: 200px
  /*width: 25%;*/
}

.chart {
  background-color: white;
  width:90%;
}

.text {
  width: 90%;
  background-color: white;
  margin-left: 5%;
  padding: 15px;
}
.row.challenge {
  margin: 1%;
  border: 1%;
}