
.container-fluid.video {
  width: 90%;
  background-color: white;
  align-content: center;
  text-align: center;
  align-items: center;
}

.card {
  display: inline-block;
  margin: 5px;
  align-items: center;
  height: 200px
  /*width: 25%;*/
}

.card.tag {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
}

.chart {
  background-color: white;
  width:90%;
  height: 300px;
}

.text {
  width: 90%;
  background-color: white;
  margin-left: 5%;
  padding: 15px;
}
.row.challenge {
  margin: 1%;
  border: 1%;
}

/*.enthusiasm {
  color: rgb(196, 43, 81);
}

.silliness {
  color: rgb(93, 205, 220);
}

.artistry {
  color: rgb(214, 136, 38);
}

.originality {
  color: rgb(149, 127, 189);
}

.social {
  color: rgb(44, 119, 108);
}

.completion {
  color: rgb(55, 125, 168);
}*/


/*h1, h2, h3 {
  color: rgb(44, 119, 108);
}

a {
  color: rgb(55, 125, 168);
}*/