{% extends 'base.html' %}
{% block content %}

<div>
Instructions:<br>

Your goal is to get as many points as you can in the various point categories. The most effective way to do this is to upload videos of yourself completing <a href="/challenge">challenges</a>. Each time you upload a video you get a completion point!<br><br>

Other people will watch your video and if they like it they can give you points for your originality, silliness, enthusiasm, and artistry (so try to have lots of all of those in your videos!).<br><br>

Getting social points is easy! Giving other people points will give you social points! You can see their videos in the <a href="/">feed</a> and give them points there<br><br>

See your levels, progress, and videos on your <a href="/profile">profile</a> page!
</div>

<br><br><br>
<div>
History: <br>
Almost half a century ago, the Dying shattered human civilization. Chaos ruled. War raged. In a last-ditch effort to restore order, what remained of the world powers came together and formed Asphodel. Year by year, Asphodel spread across the world, bringing peace in its wake, but as it grew, it festered. When all the planet was united beneath its rule, its fight against chaos turned inward. Fear of disorder twisted into fear of individuality. Fear of violence became fear of passion. The weapons Asphodel had used to bring an end to bloodshed were used to bring an end to expression. <br><br>

The weapon, Lethe, that could be used to reduce people's violent impulses. Of course, once they put an end to war, they need to keep the population pacified, so they turn Lethe inwards, and, naturally, turn it up a little, bringing people into this emotionless stupor. <br><br>

Seeing expressions of joy disrupts the effects of Lethe, and allows people to build an immunity to its effects. But only a limited few people have seen enough of it to break out of the stupor. They compose The Spring. Their mission is to be silly and share with as many people as possible to spread the immunity to Lethe.
You, an agent of Spring, are one of these lucky individuals, able to feel emotion, and your duty is to wake others from their stupor, and build a resistance against Asphodel.<br><br>

Let’s resist by being silly and expressing ourselves!

</div>

{% endblock %}