{% extends 'base.html' %}
{% block content %}

This will explain things

<p>BACKSTORY GOES HERE-- very dramatic language explaining why you should play</p>

Instructions:

Your goal is to get as many points as you can in the various point categories. The most effective way to do this is to upload videos of yourself completing <a href="/challenge">challenges</a>. Each time you upload a video you get a completion point!

Other people will watch your video and if they like it they can give you points for your originality, silliness, enthusiasm, and artistry (so try to have lots of all of those in your videos!).

Getting social points is easy! Giving other people points will give you social points!

{% endblock %}