<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
</head>
<body>
	<a href="/">Gamename</a> |
	
	{% if session.get("user_id") %}
		<a href="/logout">Log Out</a> 
		 | <a href="/challenge">Challenges
		 | <a href="/profile"> Profile</a>

	{% else %}
		<a href="/login">Log In</a>
		| <a href="/add-user-form">Create Profile</a>
	{% endif %} 

	<hr>

	{% for message in get_flashed_messages() %}
		<h2> <font color="red"> {{ message }} </font></h2>
	{% endfor %}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script src="/static/js/points.js"></script>


	{% block content %} Things {% endblock %}


</body>
</html>