{% extends 'base.html' %}
{% block content %}

<h1>Challenge: {{ challenge.challenge_name }} </h1><br>
Directions: {{ challenge.description }}<br><br>
{% if completed %}
	You alread completed this challenge! See your video <a href="/video-upload/{{ completed.filename }}"> here</a>
	<br><br><br>
{% else %}
	<a href="/video-upload/?challenge_name={{ challenge.challenge_name }}">Complete this Challenge!</a><br><br><br>

{% endif %}

{% for video in videos %}

	{% for tag in video.video_tag%}

	{{ tag.tag_name }}!

	{% endfor %}
	<br>

<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.
</video>
<br>
<a href="/video-upload/{{ video.filename }}">See Details</a>!
<br>
{% for entry in video.video_point_totals %}
	{% if entry.point_category != 'social' and entry.point_category != 'completion' %}
	{# score ids are category_videoid_score, category ids are category_videoid #}

		<span id='{{ entry.point_category }}_{{ video.video_id }}_score'>{{ entry.total_points }} </span>
		<button class ='{{ entry.point_category }}' id='{{ entry.point_category }}_{{ video.video_id }}' onclick=getPoints({{ entry.point_category }}_{{ video.video_id }})>{{ entry.point_category }} 
		</button>
	{% endif %}
{% endfor %}
<br><br><br>

{% endfor %}

{% endblock %}