{% extends 'base.html' %}
{% block content %}

<div class="row challenge">
{% for challenge in challenges %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ challenge.challenge_name.capitalize() }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ challenge.description }}</h6>

    <a href="/challenge/{{ challenge.challenge_name }}" class="card-link">See videos</a>
    {% if challenge.challenge_name in completed %}
    <span><a href="/video-upload/{{ completed[challenge.challenge_name] }}">See yours</a></span>
    {% else %}
    <span><a href="video-upload/challenge/{{ challenge.challenge_name }}" class="card-link">Complete</a></span>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>


{% endblock %}