{% extends 'base.html' %}
{% block content %}

<h1>Challenge: {{ challenge.challenge_name }} </h1><br>
Directions: {{ challenge.description }}<br><br>
{% if completed %}
	You alread completed this challenge! See your video <a href="/video-upload/{{ completed.filename }}"> here</a>
	<br><br><br>
{% else %}
	<a href="/video-upload">Complete this Challenge!</a><br><br><br>
{% endif %}

{% for video in videos %}

	{% for tag in video.video_tag%}

	{{ tag.tag_name }}!

	{% endfor %}
	<br>

<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.
</video>
<br><br><br>

{% endfor %}

{% endblock %}