{% extends 'base.html' %}

{% block content %}

<h1>Homepage!</h1>

{% for challenge in challenges %}

<span class="challenge_name">Challenge: <a href="/challenge/{{ challenge.challenge_name }}">{{ challenge.challenge_name }}</a></span> |
<span class="challenge_description">Description: {{ challenge.description }}</span><br><br>

{% endfor %}

<br><br><br>
<div class='feed'>
{% for video in videos %}
	<div class='video'>
	Added:
  {{ video.date_uploaded.strftime("%A") }}<br>

  {#{% for point in video.point_given %}
  {{ point.point_category }}
  {% endfor %}#}
  This video is:<br>
	 {% for tag_object in video.video_tag %}
	 <span class='tag'>{{ tag_object.tag_name }}!</span>
	 {% endfor %} 
 <br>
<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.split('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.
</video>
<br>
<a href="/video-upload/{{ video.filename }}">See Details</a>!<br>

{% for entry in video.video_point_totals %}
	{% if entry.point_category != 'social' and entry.point_category != 'completion' %}
		{{ entry.total_points }} <button class ='{{ entry.point_category }}'>{{ entry.point_category }}</button>
	{% endif %}
{% endfor %}

 <br><br><br>

</div>
</div>
{% endfor %}


{% endblock %}