{% extends 'base.html' %}
{% block content %}

<h1>Welcome {{ username }}! </h1><br>
<p>You have:</p>
{% for category in points_dict %}

{{ points_dict[category] }} {{ category }}!

{% endfor %}

<br><br>

{% for video in videos %}

<div class='videos'>
<br>
{% for object in video.video_challenge %}
Challenge: <a href="challenge/{{ object.challenge_name }}">{{ object.challenge_name }}</a>
<br>
{% endfor %}

{% for tag in video.video_tag %}
<span class='tag'>{{ tag.tag_name }}!</span>
{% endfor %}
<br>

<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.

	{{ video.video_point_totals}}

</video>
<br>
<a href="/video-upload/{{ video.filename }}">Details!</a><br>
</div>

{% for entry in video.video_point_totals %}
	{% if entry.point_category != 'social' and entry.point_category != 'completion' %}

		{{ entry.total_points }} {{ entry.point_category }}

	{% endif %}

{% endfor %}
	<br><br><br>


{% endfor %}

{% endblock %}