{% extends 'base.html' %}
{% block content %}

<h1>Welcome {{ username }}! </h1><br>
<p>You have:</p>
{% for category in points_dict %}

{{ points_dict[category] }} {{ category }}!

{% endfor %}


{% for video in videos %}

<div class='videos'>
<br>
{% for tag in video.video_tag %}
<span class='tag'>{{ tag.tag_name }}!</span>
{% endfor %}
<br>
<a href="/video-upload/{{ video.filename }}"></a>
<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.

	{{ video.user_point_totals}}

</video>
</div>

{% for entry in video.user_point_totals %}

{{ entry.total_points }} {{ entry.point_category }}

{% endfor %}
	<br><br><br>


{% endfor %}

{% endblock %}