{% extends 'base.html' %}
{% block content %}

{% for object in video.video_challenge%}
<a href="../challenge/{{ object.challenge_name }}"><h1>{{ object.challenge_name }}</h1></a>
{% endfor %}

<p>Added:
 {{ video.date_uploaded.strftime("%A") }} at {{ video.date_uploaded.strftime("%I") }}:{{ video.date_uploaded.strftime("%M") }} </p>

<br><br>
Tags:<br>
{% for tag_object in video.video_tag %}
	 <span class='tag'><a href="/tags/{{tag_object.tag_name}}">{{ tag_object.tag_name }}!</a></span>
	 {% endfor %} 
<br><br>

<form>
	<input type="hidden" name="video_id" id="video_id" value="{{ video.video_id }}">
</form>

<!-- <video width="320" height="240" controls> -->
<video controls width="80%">

	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.
</video>

<div>
This video got:<br>

{% for point in points %}
	{% if point.point_category != 'completion' %}
		<span id='{{ point.point_category }}_{{ video.video_id }}_score' >{{ point.total_points }}</span>

		{% if (point.point_category, video.video_id) in given_tups or video.user_id == user_id %}
				<button class ='{{ point.point_category }}' id='{{ point.point_category }}_{{ video.video_id }}' disabled>{{ point.point_category }} 
				</button>

		 {% else %}

			<button class ='{{ point.point_category }}' id='{{ point.point_category }}_{{ video.video_id }}' onclick=getPoints({{ point.point_category }}_{{ video.video_id }})>{{ point.point_category }} 
		</button>
		{% endif %} 

	{% endif %}

{% endfor %}
</div>




{% endblock %}