{% extends 'base.html' %}
{% block content %}

<h1>Complete the {{ challenge.challenge_name }} challenge!</h1>

<p>Instructions: {{challenge.description }}</p>

{{ challenge.challenge_name }}


<form action="/video-upload-submit" method="POST" enctype=multipart/form-data>
	<input type="file" name="file">
	<input type="hidden" name="challenge" value="{{ challenge.challenge_name }}">

	<br><br><br>
	Choose some tags!
	<br>
	{% for tag in tags %}
	<input type="checkbox" name="tag" value="{{ tag.tag_name }}">{{ tag.tag_name }}
	{% endfor %}
	<br><br>
	<input type="submit">
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"></script>

{% endblock %}