{% extends 'base.html' %}
{% block content %}

<h1>{{ video.filename }}</h1>

<p>Uploaded at {{video.date_uploaded }} </p>

<br><br>
Tags:<br>
{% for tag in video.video_tag %}
<span>{{tag.tag_name }}!</span>
{% endfor %}
<br><br>


<video width="320" height="240" controls>
	<source src="/static/uploads/{{ video.filename }}" type="video/{{ video.filename.rsplit('.', 1)[1] }}">

	Your browser doesn't support videos. Consider upgrading to a newer version.
</video>

<div>

This video got:<br>

{% for point in points %}

{{ point.total_points }} points in {{ point.point_category }}! <br>

{% endfor %}
</div>




{% endblock %}