{% extends 'base.html' %}
{% block content %}
<br>
<div class="text">
<h1>Complete the {{ challenge.challenge_name.capitalize() }} challenge!</h1>

<p>Instructions: {{challenge.description }}</p>


<form action="/video-upload-submit" method="POST" enctype=multipart/form-data>
	<input type="file" name="file">
	<input type="hidden" name="challenge" value="{{ challenge.challenge_name }}">

	<br><br><br>
	Choose some tags!
	<br>
	<div class="row">
	{% for tag in tags %}
	<div class="card tag">
	<input type="checkbox" name="tag" value="{{ tag.tag_name }}">  {{ tag.tag_name }}
</div>
	{% endfor %}
	</div>
	<br><br>

	<input type="submit">
</form>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"></script>

{% endblock %}